
# Arquivos compilados do Java
bin/
*.class

# Arquivos temporários do Eclipse
.settings/

# Arquivos específicos do Eclipse
.classpath
.project

# Configurações locais do banco de dados
db.properties
